@keyframes bw1 {
  0% {
    color: black;
    font-variation-settings: "wght" 100;
  }
  100% {
    color: white;
    font-variation-settings: "wght" 400;
  }
} 
@font-face {
  font-family: NewFontGX;
  src: url(https://phuongvu19.github.io/NewFontGX.ttf);
  
}
body {
  background-color: #a3d5d3;
  font-family: NewFontGX;
  font-size: 60px;
  color: red;
  opacity: 0.8;
}
h1 {
  font-family: NewFontGX;
  text-align: center;
  border: green 10px dotted;
  font-variation-settings: "wght" 600, "wdth" 1000 ; 
  animation: bw1 0.4s infinite alternate
}